[Desktop Entry]
Name=SSCPS-Flags

X-KDE-PluginInfo-Name=SSCPS-Flags
X-KDE-PluginInfo-Author=SSCPS
X-KDE-PluginInfo-Email=info@sscps.org
X-KDE-PluginInfo-License=LGPLv3
