[Desktop Entry]
Name=SSCPS-Violinist

X-KDE-PluginInfo-Name=SSCPS-Violinist
X-KDE-PluginInfo-Author=South Shore Charter Public School
X-KDE-PluginInfo-Email=info@sscps.org
X-KDE-PluginInfo-License=LGPLv3
